:root{
     --open_sans: 'Open Sans', sans-serif;
     --poppins_font:'Poppins', sans-serif;
     --common_color: #3D3430;
   }
   
   
   
   /* ====common code strat here==== */
   *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
   }
   a{
     text-decoration: none;
   }
   ul,ol{
     list-style-type: none;
   }
   
   .container{
     width: 1170px;
     margin: 0 auto;
   }
   .common__btn{
     padding: 14px 28px;
     background-color: #7258F7;
     color: #fff;
     display: inline-block;
     font-family: var(--open_sans);
     font-size: 18px;
     font-weight: 600;
     line-height: 200%; 
     text-transform: capitalize;
   }
   
   .sub__heading{
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 56px;
     font-weight: 700;
     line-height: normal;
   }
   
   .paragraph{
     color: #5F5450;
     font-family: var(--poppins_font);
     font-size: 18px;
     font-weight: 400;
     line-height: 36px;
   }
   /* ==common code end here==== */
   
   /* =======navber start here==== */
   #navber{
     position: absolute;
     padding: 18px 0;
     background-color: #DBD5FB;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1000;
   }
   
   .nav__wrapper{
     display: flex;
     align-items: center;
   }
   
   .nav__logo{
     width: 20%;
   }
   .nav__menu{
     width: 60%;
   }
   .nav__menu__list__wrapper{
     display: flex;
     align-items: center;
     justify-content: center;
     column-gap: 66px;
   }
   
   .nav__link{
     color: var(--common_color);
     font-size: 18px;
     font-family: var(--open_sans);
     font-weight: 600;
     text-transform: capitalize;
     transition: all linear .3s;
   }
   
   .nav__link:hover{
     color: #7258F7;
   }
   
   .nav__btn{
     
     text-align: right;
     width: 20%;
     
   }
   
   /* =======navber end here==== */

   /* =======banner start here==== */
   #banner{
     padding: 344px 0 164px 0;
     background-color: #fff;
   }
   
   .banner__content{
     position: relative; 
   }
   
   .banner__content__head{
     width: 759px;
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 64px;
     font-weight: 800;
     line-height: normal;
   }
   
   .banner__content__text{
     margin-top: 24px;
     width: 571px;
     color: #5F5450;
     font-family: var(--poppins_font);
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px;
   }
   
   .banner__btn{
     display: flex;
     column-gap: 24px;
     margin-top: 20px;
   }
   
   .banner__btn .common__btn{
     background-color: #fff;
     border: 2px solid #8773EF;
     color: #3D3430;
     transition: all linear .3s;
   }
   .banner__btn .common__btn:hover{
     background-color: #7258F7;
     border: 2px solid #8773EF;
     color:#fff;
   }
   
   
   
   .banner__img{
     position: absolute;
     top: -135px;
     right: -240px;
   }
   /* =======banner start here==== */

    /* ======sales part satrt here==== */
    #sales{
     padding: 100px 0 80px 0;
     background-color: #FCF8F8;
   }
   .sales__heading .sub__heading{
     width: 732px;
   }
   
   .sales__wtapper{
     margin-top: 64px;
     display: flex;
     column-gap: 65px;
   }
   
   .sales__content h4{
     margin-top: 28px;
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 30px;
     font-weight: 700;
     line-height: 36px;
   }
   .sales__content .paragraph{
     margin-top: 5;
      width: 347px;
   }
   
   /* ======sales part end here==== */

    
   /* ======customer part start here==== */
   #customer{
     padding: 100px 0 169px 0;
   }
   
   .customer__wrapper{
     display: flex;
     column-gap: 100px;
     align-items: center;
   
   }
   .customer__content__sub__heading{
     margin-top: 30px;
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 24px;
     font-weight: 600;
     line-height: normal;
   }   
   
   .customer__content .paragraph{
     margin-top: 20px;
     width: 427px;
   
   }
   
   .customer__img{
     width: 539px;
     height: 580px;
     overflow: hidden;
   }
   
   .customer__img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
   
   
   /* ======customer part end here==== */

    
   /* ======counter part start here==== */
   #counter{
     padding: 100px 0 90px 0;
   }
   
   .counter__item__heading{
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 24px;
     font-weight: 700;
     line-height: normal;
   }
   .counter__item__content .paragraph{
     width: 415px;
   }
   .counter__item__content .counter__item__heading{
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 24px;
     font-weight: 700;
     line-height: normal;
   }
   
   .counter__img{
     width: 582px;
     height: 362px;
     overflow: hidden;
   }
   
   .counter__img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
   
   
   .counter__item__one{
     display: flex;
     column-gap: 60px;
   }
   
   .counter__item__two{
     display: flex;
     column-gap: 72px;
   }
   
   .counter__item__three{
     display: flex;
     column-gap: 60px;
   }
   /* ======counter part end here==== */

    /* ======plan part start here==== */
    #plan{
     padding: 100px 0;
     background-color: #FCF8F8;
   }
   
   .plan_heading{
     text-align: center;
     margin: 0 auto;
     width: 689px;
   
   
   }
   .plan_swap{
     margin-top: 36px;
     display: flex;
     column-gap: 20px;
     align-items: center;
     justify-content: center;
   
   }
   
   .swap_item{
     color: var(--common_color);
     font-family:var(--open_sans);
     font-size: 28px;
     font-weight: 700;
     line-height: 100%;
      text-transform: capitalize;
   }
   
   .swap_btn{
     width: 70px;
     height: 40px;
     border-radius: 50px;
     border: 2px solid #7258F7;
     background-color: #fff;
     position: relative;
   }
   .swap_btn::after{
     width: 26px;
     height: 26px;
     border-radius: 50px;
     background-color: #7258F7;
     
     position: absolute;
     content: "";
     top: 50%;
     transform: translateY(-50%);
     left: 8px;
   
   }
   
   .plan_swap .save{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 98px;
     height: 32px;
     border-radius: 18px;
     color: #5F5450;
     text-align: center;
     font-family: var(--open_sans);
     font-size: 14px;
     font-weight: 500;
     line-height: 18px;
     background: #E2DDFB;
   }
   
   .package__wrapper{
     margin-top: 65px;
     display: flex;
     column-gap: 30px;
   }
   
   .package__level{
     width: 370px;
     background-color: #E2DDFB;
     padding: 50px 0;
     text-align: center;
   }
   
   .package__level__head{
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 40px;
     font-weight: 700;
     line-height: 55px;
   }
   
   .package__level .Monthly{
     color: #5F5450;
     font-family: var(--open_sans);
     font-size: 20px;
     font-weight: 400;
     line-height: normal;
     letter-spacing: -1px;
   }
   
   .price p span{
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 72px;
     font-weight: 700;
     line-height: 123px;
   }
   
   .price p{
     color: #3D3430;
     font-family: var(--open_sans);
     font-size: 16px;
     font-weight: 400;
     line-height: 25px; 
   }
   
   .basic__details{
     background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 20px;
     width: 370px;
     padding: 20px 0 43px 0;
   
   }
   .basic__details p{
     text-align: center;
     width: 252px;
     color: #6C7D93;
     font-family: var(--open_sans);
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 32px;
   }
   
   .basic__details .common__btn{
       background-color: #fff;
       color: #6001D3;
       border: 2px solid #6001D3;
       font-weight: 700;
       transition: all linear .3s;
   }
   
   .basic__details .common__btn:hover{
     background-color: #7258F7;
     color: #fff;
   }
   
   
   /* ======plan part end here==== */

    /* ====work part start here==== */
   
    #work{
     padding: 100px 0 132px 0;
   
   }
   
   .work__heading .paragraph{
     width: 387px;
   
   }
   
   .work__wrapper{
     display: flex;
     column-gap: 30px;
   }
   
   .work__img{
     width: 370px;
     height: 600px;
     overflow: hidden;
     position: relative;
   }
   
   .work__img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     
     
   }
   
   .img_one__tag{
     position: absolute;
     width: 250px;
     right: 0;
     bottom: 0px;
     background-color: #8773EF;
     
   }
   .img_one__tag h4{
     padding: 12px 20px;
     background-color: #E2DDFB;
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 24px;
     font-weight: 700;
     line-height: 36px;
   }
   
   
   .work__img:nth-child(1){
     margin-top: 92px
   }
   .work__img:nth-child(2){
     margin-top: 20px
   }
   .work__img:nth-child(3){
     margin-top: -40px
   }
   /* ====work part end here==== */

   /* ====about part start here==== */
   #about{
     padding: 100px 0;
     background-color:  #FCF8F8;
   }
   
   .about__heading{
     text-align: center;
   }
   
   .about__item__heading{
     display: flex;
     column-gap: 10px;
     align-items: center;
   
   }
   
   .about__wrapper{
     margin-top: 64px;
     display: flex;
     /* column-gap: 10px; */
     justify-content: space-between;
   }
   
   .about__item{
     padding: 50px 9px 10px 10px;
     background-color: #fff;
   }
   
   .about__item__heading__content h4{
     color:  var(--common_color);
     font-family: var(--open_sans);
     font-size: 24px;
     font-style: normal;
     font-weight: 700;
     line-height: 27px;
   }
   .about__content .paragraph{
     margin-top: 24px;
     width: 350px;
   }
   /* ====about part start here==== */

   /* =====footer part start here==== */
   footer{
     padding-top: 140px;
     padding-bottom: 57px;
     background-color: #19153D;
   }
   
   .footer_wrapper{
     display: flex;
     /* justify-content: space-between; */
     column-gap: 212px;
   }
   
   .footer_details .paragraph{
     margin-top: 44px;
     color: #fff;
     /* color:#29313D;
     font-size: 18px;
     font-family: var(--nunito_font);
     font-weight: 400;
     line-height: 180%;
     text-transform: capitalize; */
   
   
   }
   
   .footer_details{
     width: 450px;
     
   }
   /* .footer_details{
     color:#29313D;
     font-size: 18px;
     font-family: var(--nunito_font);
     font-weight: 400;
     line-height: 180%;
     text-transform: capitalize;
   } */
   
   
   .footer_heading{
     color: #fff;
     font-family: var(--open_sans);
     font-size: 24px;
     font-style: normal;
     font-weight: 600;
     line-height: 140%;
     text-transform: capitalize;
     margin-bottom: 48px;
   }
   
   .footer_list{
     display: flex;
     flex-direction: column;
     row-gap: 30px;
   
   }
   .footer_list li{
     color: #fff;
     font-family: var(--nunito);
     font-size: 20px;
     font-style: normal;
     font-weight: 600;
     line-height: 120%;
     text-transform: capitalize;
   }
   
   .content_group{
     display: flex;
     column-gap: 160px;
   }
   
   .copy_right{
     margin-top: 44px;
     display: flex;
     justify-content: space-between;
   
   }
   
   .main_copy_right p{
     color:#fff;
     font-family: var(--nunito_font);
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 180%;
     text-transform: capitalize;
   
   }
   .main_copy_right2 p{
     color: #fff;
     font-family: var(--nunito_font);
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 180%;
     text-transform: capitalize;
     
   
   }
   
   .main_copy_right2{
     display: flex;
     column-gap: 60px;
   }
   
   
   /* =====footer part end here==== */