:root{
     --open_sans: 'Open Sans', sans-serif;
     --poppins_font:'Poppins', sans-serif;
     --common_color: #3D3430;
   }
   
   
   
   /* ====common code strat here==== */
   *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
   }
   a{
     text-decoration: none;
   }
   ul,ol{
     list-style-type: none;
   }
   
   .container{
     width: 1170px;
     margin: 0 auto;
   }
   .common__btn{
     padding: 14px 28px;
     background-color: #7258F7;
     color: #fff;
     display: inline-block;
     font-family: var(--open_sans);
     font-size: 18px;
     font-weight: 600;
     line-height: 200%; 
     text-transform: capitalize;
   }
   
   .sub__heading{
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 56px;
     font-weight: 700;
     line-height: normal;
   }
   
   .paragraph{
     color: #5F5450;
     font-family: var(--poppins_font);
     font-size: 18px;
     font-weight: 400;
     line-height: 36px;
   }
   /* ==common code end here==== */
   
   /* =======navber start here==== */
   #navber{
     position: absolute;
     padding: 18px 0;
     background-color: #DBD5FB;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1000;
   }
   
   .nav__wrapper{
     display: flex;
     align-items: center;
   }
   
   .nav__logo{
     width: 20%;
   }
   .nav__menu{
     width: 60%;
   }
   .nav__menu__list__wrapper{
     display: flex;
     align-items: center;
     justify-content: center;
     column-gap: 66px;
   }
   
   .nav__link{
     color: var(--common_color);
     font-size: 18px;
     font-family: var(--open_sans);
     font-weight: 600;
     text-transform: capitalize;
     transition: all linear .3s;
   }
   
   .nav__link:hover{
     color: #7258F7;
   }
   
   .nav__btn{
     
     text-align: right;
     width: 20%;
     
   }
   
   /* =======navber end here==== */

   /* =======banner start here==== */
   #banner{
     padding: 344px 0 164px 0;
     background-color: #fff;
   }
   
   .banner__content{
     position: relative; 
   }
   
   .banner__content__head{
     width: 759px;
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 64px;
     font-weight: 800;
     line-height: normal;
   }
   
   .banner__content__text{
     margin-top: 24px;
     width: 571px;
     color: #5F5450;
     font-family: var(--poppins_font);
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px;
   }
   
   .banner__btn{
     display: flex;
     column-gap: 24px;
     margin-top: 20px;
   }
   
   .banner__btn .common__btn{
     background-color: #fff;
     border: 2px solid #8773EF;
     color: #3D3430;
     transition: all linear .3s;
   }
   .banner__btn .common__btn:hover{
     background-color: #7258F7;
     border: 2px solid #8773EF;
     color:#fff;
   }
   
   
   
   .banner__img{
     position: absolute;
     top: -135px;
     right: -240px;
   }
   /* =======banner start here==== */

    /* ======sales part satrt here==== */
    #sales{
     padding: 100px 0 80px 0;
     background-color: #FCF8F8;
   }
   .sales__heading .sub__heading{
     width: 732px;
   }
   
   .sales__wtapper{
     margin-top: 64px;
     display: flex;
     column-gap: 65px;
   }
   
   .sales__content h4{
     margin-top: 28px;
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 30px;
     font-weight: 700;
     line-height: 36px;
   }
   .sales__content .paragraph{
     margin-top: 5;
      width: 347px;
   }
   
   /* ======sales part end here==== */

    
   /* ======customer part start here==== */
   #customer{
     padding: 100px 0 169px 0;
   }
   
   .customer__wrapper{
     display: flex;
     column-gap: 100px;
     align-items: center;
   
   }
   .customer__content__sub__heading{
     margin-top: 30px;
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 24px;
     font-weight: 600;
     line-height: normal;
   }   
   
   .customer__content .paragraph{
     margin-top: 20px;
     width: 427px;
   
   }
   
   .customer__img{
     width: 539px;
     height: 580px;
     overflow: hidden;
   }
   
   .customer__img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
   
   
   /* ======customer part end here==== */

    
   /* ======counter part start here==== */
   #counter{
     padding: 100px 0 90px 0;
   }
   
   .counter__item__heading{
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 24px;
     font-weight: 700;
     line-height: normal;
   }
   .counter__item__content .paragraph{
     width: 415px;
   }
   .counter__item__content .counter__item__heading{
     color: var(--common_color);
     font-family: var(--open_sans);
     font-size: 24px;
     font-weight: 700;
     line-height: normal;
   }
   
   .counter__img{
     width: 582px;
     height: 362px;
     overflow: hidden;
   }
   
   .counter__img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
   
   
   .counter__item__one{
     display: flex;
     column-gap: 60px;
   }
   
   .counter__item__two{
     display: flex;
     column-gap: 72px;
   }
   
   .counter__item__three{
     display: flex;
     column-gap: 60px;
   }
   /* ======counter part end here==== */
